:root {
  --blue: #082525;
  --gray: #f4f4f4;
  --white: #ffffff;
}

.border-category{
  border: 1px #B8954A solid !important;
box-shadow: -10px 15px 20px -5px rgba(0, 0, 0, 0.25) !important;
}

@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-Medium.ttf");
}

.category-name-text{
  scroll-margin-top: 155px;
}

.meal-container{
  scroll-margin-top: 100px;
}

body {
  margin: 0;
  background-color: #215454;
  font-family: "Work Sans";
  overflow: auto;
  scroll-padding-top: 200px;
}

html{
  scroll-behavior: smooth;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 98vw;
}

.logo {
  /* width: 97px; */
  height: 64px;
  margin: 25px auto 15px;
}

.menu-categories {
  /* padding: 15px 0 15px 0; */
  position: sticky;
  z-index: 5;
  top: 0px;
  background-color: #215454;
  box-shadow: rgb(28, 74, 74) 0px 1px 1px, rgba(33, 84, 84, 1) 0px 1px 1px;
}

.toggled-categories-card-container{
  display: none;
}

.non-scrolled-menu-categories{
  display: none;
}


.scrolled-category-card:first-child{
  margin-left: 20px;
}

.scrolled-category-card:last-child{
  margin-right: 20px;
}

.scrolled-menu-categories{
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  padding: 15px 0;
}

.scrolled-category-card{
  background-color: var(--blue);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 7px 14px;  
  background-color: var(--blue);
  color: var(--white);
  user-select: none;
  text-decoration: none;
}

.category-text {
  color: var(--white);
  opacity: 80%;
  font-size: 16px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.categories-card-container:first-child{
  padding-left: 20px;
}


.categories-card-container:last-child{
  padding-right: 20px;
}

.categories-card-container {
  gap: 10px;
  display: flex;
  overflow-x: scroll;
  transition: 0.4s;
  padding: 15px 0;
}

.categories-card-container::-webkit-scrollbar, .scrolled-menu-categories::-webkit-scrollbar {
  display: none;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--blue);
  width: 65px;
  min-width: 65px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px 5px 15px 5px;
  text-decoration: none;
}

.category-card-image {
  height: 65px;
  width: 100%;
  transition: 0.4s;
}

.category-card-image > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 16px;
}

.card-menu-name {
  color: #f4f4f4;
  font-size: 12px;
  margin: 0;
  line-height: 100%;
  font-weight: 500;
}

.category-name-text{
  z-index: 5;
  color: var(--white);
  opacity: 80%;
  font-size: 16px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.meals-list{
  padding: 15px 0 50px;
}

.meal-container {
  padding: 15px 20px;
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 10px 15px;
  position: relative;
}

@media (min-width: 600px){
  .meal-container{
    grid-template-columns: auto auto auto;
  }
}

.meal-card {
  width: 100%;
  height: 222px;
  border-radius: 10px;
  position: relative;
}

.price-container {
  align-items: end;
  background-color: var(--blue);
  width: fit-content;
  padding: 6px 15px;
  margin: 0;
  border-radius: 10px 0px 10px 0px;
  color: white;
}

.price-number {
  font-size: 17px;
}

.price-currency {
  font-size: 10px;
  margin-left: -2px;
}

.price-container > p {
  margin: 0;
}

.meal-image-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.meal-image-container > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.price-and-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#11141600, #111416e5);
  border-radius: 10px;
}

.meal-name-container {
  padding: 15px;
}

.meal-name-container > p {
  margin: 0;
}

.meal-name-tm {
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
}

.meal-name-ru {
  margin-top: 5px;
  color: var(--white);
  opacity: 50%;
  font-weight: 400;
  /* font-style: normal; */
  font-size: 14px;
}
